html {
  font-size: 14px;
}

main {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 1.5rem;
}

.file-report {
  display: flex;
}

.triggered {
  background-color: #b9ffb3;
}

.not_triggered {
  background-color: #ffb3b3;
}
